<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
</head>
<body>
   <div class="container" >
    <span>
      <!-- {% if messages %} -->
      {% for message in messages %}
      <div class="alert alert-{{message.tags}} m-1 p" id="msg" role="alert"
        style="padding: 1px; background-color: red;">
        {{ message }}
      </div>
      {% endfor %}
      <!-- {% endif %} -->
    </span>
    <form id='form'  method="get" onsubmit="return checking()" action="{% url 'checkval' %}" >

      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <div><span id="error" style="color: red;"></span></div> 
        <input type="email" class="form-control" id="Email1" name="Email" onkeyup="validation()" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <div><span id="error3" style="color: red;"></span></div> 
        <input type="password" class="form-control" onkeyup="validation2()" id="Password1" name="Password1" placeholder="Password">
      </div>
      <button  type="submit"  class="btn btn-primary">Submit</button>
    </form>
  
    <!-- function  validateForm (e){
      e.prevanDefault();
    var name=document.getElementById('name')
    console.log(name)
    name.addEventListener('input',(e)=>{
      var uname=name.value
      console.log(uname)
    })
  } -->
  
   </div> 
  <script>
     function validation(){
      let value = document.getElementById('Email1').value
      console.log(value)
      if(value == 0){
        document.getElementById('error').innerHTML = "required"
        return false
      }
      else{
        document.getElementById('error').innerHTML = ""
        return true
      }
      
    
    }
    
    
    
    function validation2(){
      let value = document.getElementById('Password1').value
      console.log(value)
      if(value == " " ){
        document.getElementById('error3').innerHTML = "required"
      } else if (isNaN(value)){
        document.getElementById('error3').innerHTML = 'please enter a numeric value '
        return flase
    
      } else if (value.length <= 3||value. length >= 10){
        document.getElementById('error3').innerHTML = 'min 4 and max 10 numeric is required'
        return flase
    
      }
     
      else{
        document.getElementById('error3').innerHTML = ''
        return true
    
        
      }
      
    
    } 
    
 function checking(e){
 
  
  if(validation()  && validation2()) {
    
    return true
  }
  else{
    e.preventDefault()
    validation()
    
    validation2()
   


  }


 }


  
 document.getElementById('form').addEventListener('submit',checking)
 

  </script>
  <!-- if(validation() && validation1() && validation2()) {
    
    return true
  }
  else{
    validation()
    validation1()
    validation2()
    return false

  } -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
